body{
    display: flex;
    background-color: #d3d3d3;
    justify-content: center;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    font-family:"Arial";
}

.Big{
    display: inline-block;   
    width: 350px;
    height: 30%;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
  
    
}

#korg{
    display: flex;
    height: 250px;
    width: 100%;
    border-radius: 15px;
}

.action{
    background: linear-gradient(90deg,#4773e3,#869fde);
    font-family:"Segoe UI";
    width: 100%;
    height: 35px;
    border-radius: 13px;
    border: 0;
    color:white;
}